@media screen and (min-width: 1024px) {
  .pet {
    width: 200px;
    height: 200px;
    background-color: #c5da6a;
  }
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 896px) and (orientation: landscape) {
}
@media screen and (max-width: 480px) {
  .pet {
    width: 100px;
    height: 100px;
    background-color: #c5da6a;
  }
}
