@media screen and (min-width: 1024px) {
  .wrap {
    display: flex;
    height: 250px;
    border-bottom: #ddd solid 1px;
    .petarea {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25px 0;
      width: calc(100% / 3);
      // background-color: #acd;
    }
    .profilearea {
      padding: 25px 0;
      width: calc(100% * 2 / 3);
      // background-color: #cda;

      .area1 {
        height: 25%;
        font-size: 25px;
        line-height: 50px;

        .buttonarea {
          display: flex;
          align-items: center;
          margin-right: 55px;
          float: right;
          height: 100%;

          button {
            width: 180px;
            height: 30px;
            border: 1px #ccc solid;
            border-radius: 0.4em;
            color: #333;
            background-color: white;
            font-size: 15px;
            font-weight: bold;
          }
        }
      }
      .area2 {
        height: 25%;
        font-size: 17px;
        line-height: 50px;
      }
      .area3 {
        height: 40%;
        padding: 0.6em 0;
      }
    }
  }
  .area4 {
    display: none;
  }
  .editwrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(51, 51, 51, 0.521);
    z-index: 1;
  }
  .editarea {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 500px;
    height: 500px;
    background-color: #fff;
    z-index: 2;

    .text {
      margin: 0 0 10px 0;
      padding: 0 5px;
      border: 1px solid #bbb;
      width: 98%;
      height: 40px;
      font-size: 18px;
      line-height: 20px;
      -webkit-appearance: none;
    }
    textarea {
      margin: 0 0 10px 0;
      padding: 0 5px;
      border: 1px solid #bbb;
      width: 98%;
      height: 60px;
      font-size: 18px;
      line-height: 30px;
      resize: none;
      -webkit-appearance: none;
    }
    .color {
      width: 50px;
      height: 50px;
      margin-bottom: 15px;
    }
    .buttonarea {
      margin-top: auto;
      text-align: center;
      width: 100%;

      button {
        width: 180px;
        height: 30px;
        border: 1px #ccc solid;
        border-radius: 0.4em;
        color: #333;
        background-color: white;
        font-size: 15px;
        font-weight: bold;
      }
    }
    .iconarea {
      display: flex;
      margin-bottom: 10px;

      .nothing {
        width: 50px;
        height: 50px;
        font-size: 30px;
      }

      .img {
        width: 50px;
        height: 50px;
      }
    }
  }
  .subscribewrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(51, 51, 51, 0.521);
    z-index: 1;
  }
  .subscribearea {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 500px;
    height: 500px;
    background-color: #fff;
    z-index: 2;

    .title {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: bold;
      color: rgb(44, 90, 18);
    }
    .explanation {
      font-size: 15px;
    }
    .image {
      margin: auto auto;
      height: 300px;
      width: 300px;
      background-color: #abc;
    }
    .buttonarea {
      display: flex;
      justify-content: center;

      button {
        margin: 0 10px;
        width: 200px;
        height: 50px;
        font-size: 17px;
        border: #bbb solid 2px;
        background-color: #fff;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 896px) and (orientation: landscape) {
}
@media screen and (max-width: 480px) {
  .wrap {
    display: flex;
    height: 150px;
    .petarea {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 0;
      width: calc(100% / 3);
      // background-color: #acd;
    }
    .profilearea {
      padding: 15px 0;
      width: calc(100% * 2 / 3);
      // background-color: #cda;

      .area1 {
        height: 25%;
        font-size: 20px;
        line-height: 25px;

        .buttonarea {
          display: none;
        }
      }
      .area2 {
        height: 25%;
        font-size: 15px;
        line-height: 25px;
      }
      .area3 {
        height: 40%;
        font-size: 11px;
        padding: 0.6em 0;
      }
    }
  }

  .area4 {
    flex-direction: column;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: #ddd solid 1px;

    button {
      width: 80%;
      height: 30px;
      border: 1px #ccc solid;
      border-radius: 0.4em;
      color: #333;
      background-color: white;
      font-size: 15px;
      font-weight: bold;
    }
  }

  .editwrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(51, 51, 51, 0.521);
    z-index: 1;
  }
  .editarea {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    z-index: 2;

    .text {
      margin: 0 0 10px 0;
      padding: 0 5px;
      border: 1px solid #bbb;
      width: 98%;
      height: 40px;
      font-size: 18px;
      line-height: 20px;
      -webkit-appearance: none;
    }
    textarea {
      margin: 0 0 10px 0;
      padding: 0 5px;
      border: 1px solid #bbb;
      width: 98%;
      height: 60px;
      font-size: 18px;
      line-height: 30px;
      resize: none;
      -webkit-appearance: none;
    }
    .color {
      width: 50px;
      height: 50px;
    }
    .buttonarea {
      margin-top: auto;
      text-align: center;
      width: 100%;

      button {
        width: 180px;
        height: 30px;
        border: 1px #ccc solid;
        border-radius: 0.4em;
        color: #333;
        background-color: white;
        font-size: 15px;
        font-weight: bold;
      }
    }
    .iconarea {
      display: flex;
      margin-bottom: 10px;

      .nothing {
        width: 50px;
        height: 50px;
        font-size: 30px;
      }

      .img {
        width: 35px;
        height: 35px;
      }
    }
  }
  .subscribewrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(51, 51, 51, 0.521);
    z-index: 1;
  }
  .subscribearea {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    z-index: 2;

    .title {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: bold;
      color: rgb(44, 90, 18);
    }
    .explanation {
      font-size: 12px;
    }
    .image {
      margin: auto auto;
      height: 200px;
      width: 200px;
      background-color: #abc;
    }
    .buttonarea {
      display: flex;
      justify-content: center;

      button {
        margin: 0 10px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        font-weight: bold;
        border: #bbb solid 2px;
        background-color: #fff;
        color: #333;
      }
    }
  }
}
