@media screen and (min-width: 1024px) {
  .wrap {
    margin-bottom: 15px;
    display: flex;
    height: 250px;
    border-bottom: #ddd solid 1px;
    .petarea {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25px 0;
      width: calc(100% / 3);
      // background-color: #acd;
    }
    .profilearea {
      padding: 25px 0;
      width: calc(100% * 2 / 3);
      // background-color: #cda;

      .area1 {
        height: 25%;
        font-size: 25px;
        line-height: 50px;

        .buttonarea {
          display: flex;
          align-items: center;
          margin-right: 55px;
          float: right;
          height: 100%;

          button {
            width: 180px;
            height: 30px;
            border: 1px #ccc solid;
            border-radius: 0.4em;
            color: #333;
            background-color: white;
            font-size: 15px;
            font-weight: bold;
          }
        }
      }
      .area2 {
        height: 25%;
        font-size: 17px;
        line-height: 50px;
      }
      .area3 {
        height: 40%;
        padding: 0.6em 0;
      }
    }
  }
  .username {
    font-size: 20px;
  }
  .contents {
    font-size: 15px;
  }
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 896px) and (orientation: landscape) {
}
@media screen and (max-width: 480px) {
}
